#header{
	background-color: #b4bbbe;
	height: 200px;
}
#main{
	background-color: #003677;
	height: 500px;
}
#sub{
	background-color: #4267b2;
	height: 500px;
}
#footer{
	background-color: #47484b;
	height: 300px;
}