#header{
	background-color: #dfd;
	height: 200px;
}
#main{
	background-color: #003677;
	height: 300px;
}
#sub{
	background-color: #4267b2;
	height: 300px;
}
#footer{
	background-color: #47484b;
	height: 300px;
}